body,
html {
  height: 100%;
  margin: 0;
}
.hero,
.navbar {
  background: url('assets/images/pcn.jpg') no-repeat center center/cover;
  color: transparent;
  transition: background-size 0.5s ease-in-out;
}
.navContainer {
  position: absolute;
  width: 100%;
  z-index: 9999;
  background: transparent !important;
  backdrop-filter: blur(2px);
  border-bottom: 1px solid gray;
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
  height: 120px;

  @media (max-width: 970px) {
    display: none;
  }
}
.navContainerMobile {
  position: absolute;
  width: 100%;
  z-index: 9999;
  background: transparent !important;
  backdrop-filter: blur(2px);
  border-bottom: 1px solid gray;
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
  height: 120px;
}

@media (min-width: 971px) {
  .navContainerMobile {
    display: none;
  }
}

.navContentMobile {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 0px 30px;
}

.menuCloseHolder {
  display: none;
}

.menu,
.menuClose,
.menuFilled {
  width: 30px;
  height: 30px;
  margin-top: 30px;
  cursor: pointer;
}

html:has(#menu-toggle:checked),
body:has(#menu-toggle:checked) {
  overflow: hidden;
  height: 100vh;
}

.mobilePullDownMenu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #1c110b;
  z-index: 10;
  overflow-x: hidden;
  transform: translateY(-100%);
  transition: transform 0.5s ease-in-out;
  padding: 40px;
}

#menu-toggle:checked ~ .mobilePullDownMenu {
  display: block;
  transform: translateY(0);
}

#menu-toggle:checked ~ .mobilePullDownMenu .menuCloseHolder {
  display: block;
}

#menu-toggle:checked ~ .navContentMobile .menu {
  display: none;
}
.menuCloseHolderLogo {
  display: block;
  position: absolute;
  top: 20px;
  left: 20px;
}
.menuCloseContentHolder {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
}
@media (max-width: 660px) {
  .menuFilled {
    display: flex;
  }
  .menu {
    display: none;
  }
}
@media (min-width: 660px) {
  .menuFilled {
    display: none;
  }
  .menu {
    display: flex;
  }
}

.menuCloseContent {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: white;
  mix-blend-mode: difference;
  z-index: 9999;
}

.menuClose {
  transition: transform 0.5s ease-in-out;
}

.menuClose:hover {
  transform: rotate(360deg);
}

.menuClose:not(:hover) {
  animation: rotate-back 0.5s ease-in-out;
}

@keyframes rotate-back {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
.mobilePullDownMenuContents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 120px auto;
  gap: 20px;
  transform: translateY(-100%);
  opacity: 0;
  transition: transform 1.5s ease-in-out, opacity 1.5s ease-in-out;
  padding-bottom: 50px;
  border-bottom: 1px solid rgb(185, 183, 183);
}
#menu-toggle:checked ~ .mobilePullDownMenu .mobilePullDownMenuContents {
  transform: translateY(0);
  opacity: 1;
}

#menu-close-toggle:checked ~ .mobilePullDownMenu .mobilePullDownMenuContents {
  transform: translateY(-100%);
  opacity: 0;
}

.mobilePullDownMenuHome,
.mobilePullDownMenuContacts {
  font-size: 20px;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
.mobilePullDownMenuAboutUs,
.mobilePullDownMenuMinistries,
.mobilePullDownMenuMedia {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
.mobilePullDownMenuAboutUsImg,
.mobilePullDownMenuMinistriesImg,
.mobilePullDownMenuMediaImg {
  width: 25px;
  height: 25px;
}

.mobileSocials {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: -70px;
  transform: translateY(-100%);
  opacity: 0;
  transition: transform 1.5s ease-in-out, opacity 1.5s ease-in-out;
  padding-bottom: 50px;
}
#menu-toggle:checked ~ .mobilePullDownMenu .mobileSocials {
  transform: translateY(0);
  opacity: 1;
}

#menu-close-toggle:checked ~ .mobilePullDownMenu .mobileSocials {
  transform: translateY(-100%);
  opacity: 0;
}

.navContent {
  display: flex;
  padding: 0px 30px;
  gap: 50px;
}
.logo,
.menuCloseHolderLogo {
  width: 120px;
  height: 120px;
}
.navList,
.navListHolder {
  display: flex;
  gap: 10px;
}
.navListHolder {
  list-style-type: none;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.navItem,
.footerAddressEmail,
.footerLinksText {
  display: flex;
  font-size: 19px;
  color: white;
  cursor: pointer;
  text-decoration: none;
  position: relative;
}

.navItem::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

.footerAddressEmail::after,
.footerLinksText::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

.footerAddressEmail::after {
  width: 53%;
}
.footerLinksText::after {
  width: 40%;
}
.navItem:hover::after,
.navItem:focus::after,
.navItem:active::after,
.footerAddressEmail:hover::after,
.footerAddressEmail:focus::after,
.footerAddressEmail:active::after,
.footerLinksText:hover::after,
.footerLinksText:focus::after,
.footerLinksText:active::after {
  transform: scaleX(1);
}

.dropdown {
  position: relative;
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  color: black;
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 150px;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out,
    transform 0.3s ease-in-out;
  pointer-events: none;
}

.dropdownItem {
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
}

.dropdownItem:hover {
  background-color: lightgray;
  padding-left: 20px;
  transition: padding-left 0.3s ease-in-out, background-color 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}

.dropdown:hover .dropdownMenu,
.dropdownMenu:hover {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.heroContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
@keyframes sineWave {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

.heroHeading {
  color: white;
  font-size: clamp(30px, 10vw, 100px);
  font-weight: 700;
  animation: sineWave 3s infinite ease-in-out;
}

.heroInfo {
  color: white;
  font-size: clamp(10px, 10vw, 50px);
  font-weight: 600;
  animation: sineWave 3s infinite ease-in-out;
}

.worshipSection {
  padding: 40px 20px;
  background-color: #343a40;
}
.worshipSectionHeading {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-size: clamp(16px, 5vw, 60px);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
}
.worshipContentHolder {
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  @media (max-width: 870px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 640px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
.worshipScheduleHolder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* border: 1px solid white; */
  border-radius: 7px;
  transition: transform 0.3s ease-in-out;
  padding: 20px 0px;
}
.worshipScheduleImg {
  width: 30px;
  height: 30px;
}
.worshipScheduleHeader {
  font-size: 16px;
  font-weight: 500;
  color: white;
  text-align: center;
}
.worshipScheduleContent {
  font-size: 15px;
  color: white;
  text-align: center;
}
.activities {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
  padding: 30px 80px;
  background-color: rgb(27, 27, 109);
  transition: transform 0.3s ease, background-color 0.3s;
  @media (max-width: 608px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 560px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
.activitiesContents {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.activitiesHeader {
  font-size: 18px;
  color: white;
  font-weight: 500;
}
.activitiesContentsText {
  display: flex;
  color: white;
  font-size: 20px;
  font-weight: 600;
}
.activitiesBtnActions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 28px;
}
.btnSundaySchool {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: 1px solid white;
  transition: transform 0.3s ease, background-color 0.3s, box-shadow 0.3s;
  gap: 5px;
  color: white;
  font-size: 12px;
  font-weight: 600;
  border-radius: 8px;
  padding: 10px;
}
.btnSundaySchool:hover {
  background-color: white;
  transition: transform 0.3s ease, background-color 0.3s;
  color: black;
}
.btnBibleStudy {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  transition: transform 0.3s ease, background-color 0.3s, box-shadow 0.3s;
  gap: 5px;
  color: black;
  font-size: 12px;
  font-weight: 600;
  border-radius: 8px;
  padding: 10px;
  font-weight: 500;
}
.adoration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 20px;
  padding: 40px 90px;
  background: white;
  transition: transform 0.6s ease, background-color 0.6s;
}
.adorationImg {
  width: 40px;
  height: 40px;
}
.adorationText {
  display: flex;
  color: black;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
}
.adorationInfo {
  display: flex;
  justify-content: center;
  color: grey;
  margin-top: -20px;
}
.adorationHeading {
  display: flex;
  text-align: center;
  font-weight: 700;
  color: black;
  font-size: clamp(20px, 5vw, 60px);
}
.aboutUsBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(85, 83, 83);
  transition: transform 0.6s ease, background-color 0.6s;
  gap: 5px;
  color: white;
  font-size: 12px;
  font-weight: 600;
  border-radius: 8px;
  padding: 15px;
  font-weight: 500;
  width: 200px;
}
.aboutUsBtn:hover {
  background-color: black;
  transition: transform 0.6s ease, background-color 0.6s;
}
hr {
  border: none;
  height: 4px;
  color: black;
  background-color: black;
}
.sermon {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 30px 80px;
  background: rgb(85, 83, 83);
  transition: transform 0.3s ease, background-color 0.3s;
  @media (max-width: 620px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 601px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
.sermonContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sermonText {
  display: flex;
  color: white;
  font-weight: 500;
  font-size: clamp(14px, 5vw, 40px);
}
.sermonHeader {
  display: flex;
  color: white;
  font-weight: 500;
  font-size: 20px;
}
.sermonBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent !important;
  transition: transform 0.6s ease, background-color 0.6s;
  gap: 5px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  padding: 15px;
  font-weight: 500;
  width: 200px;
  border: 2px solid white;
  height: 50px;
  margin-top: 30px;
}
.ourVision {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0px 80px;
}
.visionHeader {
  font-size: 15px;
  text-align: center;
  font-weight: 500;
  margin-top: 20px;
}
.visionText {
  font-size: clamp(12px, 5vw, 50px);
  font-weight: 700;
  text-align: center;
  max-width: 800px;
}
.visionContentsHolder {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  @media (max-width: 900px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 550px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
.visionContents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.visionImg {
  width: 50px;
  height: 50px;
}
.visionContentHeader {
  display: flex;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}
.visionInfo {
  display: flex;
  text-align: center;
  font-size: 15px;
  color: #343a40;
}
.visionBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(230, 76, 76);
  transition: transform 0.6s ease, background-color 0.6s;
  color: white;
  font-size: 16px;
  font-weight: 600;
  padding: 15px;
  font-weight: 500;
  width: 200px;
  border: 2px solid white;
  height: 65px;
  margin-bottom: 0px;
  text-transform: uppercase;
}
.revivalPictures {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  height: 500px;
}

/* Two columns for the second part */
.revivalPicturesPartTwoHolder {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* Ensures images fit properly */
.revivalPicturesOne,
.revivalPicturesTwo,
.revivalPicturesThree,
.revivalPicturesFour,
.revivalPicturesFive {
  overflow: hidden;
}

.revivalPicturesTwo,
.revivalPicturesThree,
.revivalPicturesFour,
.revivalPicturesFive {
  height: 250px;
}

.worshipImg {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.worshipImg:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .revivalPictures {
    grid-template-columns: repeat(1, 1fr);
    height: auto;
  }

  .revivalPicturesPartTwoHolder {
    grid-template-columns: repeat(1, 1fr);
  }

  .revivalPicturesTwo,
  .revivalPicturesThree,
  .revivalPicturesFour,
  .revivalPicturesFive {
    height: auto;
  }
}

@media (max-width: 480px) {
  .worshipImg {
    transition: transform 0.2s ease-in-out;
  }
}

.updatesForm {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 30px 80px 0px 80px;
  border-bottom: 2px solid teal;
  @media (max-width: 858px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
.updateInfo {
  display: flex;
  font-size: clamp(17px, 3vw, 30px);
  font-weight: 700;
}
.updateFormContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.updateInput {
  padding: 10px;
  border-left: 1px dotted gray;
  border-top: 1px dotted gray;
  border-right: 1px dotted gray;
  border-bottom: 1px solid black;
}
.updateInput:focus {
  outline: none;
}
.updateInput::placeholder {
  font-size: 12px;
  color: gray;
}
.updateCheckHolder {
  display: flex;
  gap: 5px;
}
.updateBtn {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transition: transform 0.6s ease, background-color 0.6s;
  color: black;
  font-size: 16px;
  font-weight: 600;
  padding: 15px;
  font-weight: 500;
  height: 65px;
  margin-bottom: 0px;
  text-transform: uppercase;
  border: none;
}
.updateBtnImg {
  width: 20px;
  height: 20px;
}
.whatsAppUpdate {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 40px 80px;
  @media (max-width: 700px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 500px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
.whatsAppUpdateText {
  display: flex;
  font-size: clamp(17px, 3vw, 30px);
  font-weight: 700;
}
.whatsAppUpdateBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  gap: 5px;
  color: black;
  font-size: 16px;
  font-weight: 600;
  padding: 15px;
  font-weight: 500;
  width: 200px;
  border: 2px solid black;
  height: 50px;
}
.whatsAppUpdateBtn:hover {
  background-color: black;
  transition: transform 0.6s ease-in-out,
    transform color 0.6s ease-in-out background-color 0.6s ease-in-out;
  color: white;
}
.whatsAppUpdateImg {
  width: 20px;
  height: 20px;
}
.calenderEvents {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 10px;
  width: 100%;
  padding: 60px 80px 0px 80px;
  background-color: gray;
}
.calenderEventsCaption {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.calenderEventsHeaderOne {
  font-size: 20px;
  font-weight: 500;
  color: black;
}
.calenderEventsHeaderTwo {
  font-size: 30px;
  font-weight: 700;
  color: black;
}
.calenderEventsContents {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 50px;
}
.calenderEventsContentsTextHolder {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.calenderEventsText {
  font-size: 16px;
  font-weight: 600;
  color: black;
}
.calenderEventsBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  gap: 10px;
  color: black;
  font-size: 16px;
  font-weight: 600;
  padding: 15px;
  font-weight: 500;
  width: 200px;
  border: none;
  height: 50px;
}
.calenderEventsBtnImg {
  width: 25px;
  height: 25px;
}
.calenderEventsSchedule {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 10px;
  padding: 0px 0px 30px 0px;
  border-bottom: 2px solid white;
}
.calenderEventsScheduleLast {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 10px;
  padding: 0px 0px 30px 0px;
}
.calenderEventsScheduleDate {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.calenderEventsScheduleDateOne,
.calenderEventsScheduleContentOne {
  font-size: 30px;
  font-weight: 700;
  color: black;
}
.calenderEventsScheduleDateTwo,
.calenderEventsScheduleContentTwo {
  font-size: 20px;
  color: rgb(27, 27, 27);
  font-weight: 500;
}
.calenderEventsScheduleContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (max-width: 1024px) {
  .calenderEvents {
    grid-template-columns: 1fr;
    padding: 40px;
  }
  .calenderEventsContentsTextHolder {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .calenderEventsSchedule {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .calenderEvents {
    padding: 30px;
  }
  .calenderEventsCaption {
    text-align: center;
  }
  .calenderEventsSchedule {
    flex-direction: column;
    align-items: center;
  }
  .calenderEventsBtn {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .calenderEventsHeaderOne {
    font-size: 18px;
  }
  .calenderEventsHeaderTwo {
    font-size: 24px;
  }
  .calenderEventsText {
    font-size: 14px;
  }
  .calenderEventsScheduleDateOne {
    font-size: 24px;
  }
  .calenderEventsScheduleContentOne {
    font-size: 18px;
  }
}

.churchMember {
  display: grid;
  grid-template-columns: 3fr 1fr;
  background-color: #f66646;
  padding: 40px 80px;
  @media (max-width: 600px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
.memberInfo {
  display: flex;
  font-weight: 600;
  font-size: clamp(17px, 3vw, 30px);
  color: white;
}
.churchMemberBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  gap: 10px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  padding: 15px;
  font-weight: 500;
  width: 200px;
  border: 2px solid white;
  height: 50px;
}
.footer {
  display: flex;
  flex-direction: column;
  padding: 40px 80px;
  background-color: #010813;
}
.footerContents {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-bottom: 40px;
  border-bottom: 1px solid white;
  @media (max-width: 900px) {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
.footerImg {
  width: 120px;
  height: 120px;
}
.footerAddresses {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footerAddressesHeader,
.footerLinksHeader,
.footerGetInTouchHeader {
  font-size: 16px;
  font-weight: 600;
  color: white;
}
.footerAddressInfo {
  color: white;
  font-size: 14px;
  margin-top: 10px;
}
.footerAddressPhones {
  font-size: 14px;
  font-weight: 700;
  color: white;
}
.footerLinks {
  display: flex;
  flex-direction: column;
  list-style: none;
  color: white;
  gap: 20px;
  @media (max-width: 900px) {
    margin-left: -30px;
    gap: 5px;
  }
}
.footerGetInTouch {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footerGetInTouchSocials {
  display: flex;
  gap: 10px;
}
.footerGetInTouchImg {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}
.footerLinksText {
  font-size: 14px;
  font-weight: 400;
}
.copyright {
  display: flex;
  font-size: 13px;
  color: white;
  margin-top: 10px;
}
